body {
    background-color: #f0f0f0;
    font-family: Arial;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

th, tr, table {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navigationbar {
    background-color: #888888;
    background: -webkit-linear-gradient(grey, white);
    background: -moz-linear-gradient(grey, white);
    position: fixed;
    display: block;
    top: 0px;
    width: 100%;
    height: 60px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#maindiv {
    color: #3c3c3c;
    margin-left: 40px;
    margin-top: 30px;
}

.titletext {
    color: #df3030;
    padding-top: 30px;
}

.paragraph {
    color: #525252;
    font-size: 20px;
}

#navigationtable {
    height: 100%;
    float: left;
    margin-bottom: 10px;
}

.navigationbutton {
    height: 100%;
    width: auto;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    -webkit-tap-highlight-color: aqua;
}

.navigationbuttondropdown {
    height: 100%;
    width: auto;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    -webkit-tap-highlight-color: aqua;
}


.navigationbutton:hover {
    background-color: #aaaaaa;
    background: -webkit-linear-gradient(#3a3a3a, white);
    background: -moz-linear-gradient(#3a3a3a, white);
    cursor: pointer;
}

.navigationbuttondropdown:hover {
    background-color: #aaaaaa;
    background: -webkit-linear-gradient(#3a3a3a, white);
    background: -moz-linear-gradient(#3a3a3a, white);
    cursor: pointer;
}

.navigationbuttondropdown:hover #feladatokmenu {
    display: block;
}

.navigationbuttontext {
    color: black;
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}

.navibaricon {
    height: 50px;
    padding: 0px 0px 0px 0px;
}

a {
    color: blue;
    padding: 0px;
    margin: 0px;
    font-style: normal;
    text-decoration: none;
}

#feladatokmenu {
    display: none;
    position: absolute;
    height: auto;
    width: inherit;
    z-index: 1;
}

.dropdownlink {
    padding: 6px 6px 6px 6px;
    color: black;
    background-color: #f0f0f0;
    display: block;
    width:100%;
    height:auto;
    font-size: 24px;
    border: solid;
    border-width: 1px;
    border-color: #d0d0d0;
}

.dropdownlink:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}
